<!-- emotion_detection/templates/emotion_detection/emotion.html -->

<!DOCTYPE html>
<html>
<head>
    <title>Real-time Emotion Detection</title>
</head>
<body>
    <h1>Real-time Emotion Detection</h1>
    <button id="start_button">Start</button>
    <button id="stop_button">Stop</button>
    <img id="emotion_frame" alt="Real-time Emotion" style="width: 100%; max-width: 640px;">
    <script>
        var video = document.getElementById('emotion_frame');
        var startButton = document.getElementById('start_button');
        var stopButton = document.getElementById('stop_button');
        var socket = new WebSocket('ws://' + window.location.host + '/ws/emotion_detection/');

        startButton.addEventListener('click', function() {
            socket.send('start');
        });

        stopButton.addEventListener('click', function() {
            socket.send('stop');
        });

        socket.onmessage = function (event) {
            // Assuming the data received is binary data
            var blob = new Blob([event.data], { type: 'image/jpeg' });
            var url = URL.createObjectURL(blob);
        
            video.src = url;
        };

        socket.onclose = function(event) {
            console.error('Socket closed unexpectedly:', event);
        };
    </script>
    
</body>
</html>
